.form-container{
    display: flex;
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    background: linear-gradient(to right, #ffd194, #70e1f5);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.EnterProduct-Form {
    padding: 50px 25px 0 25px;
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
    overflow: scroll;
    width: 70%;
    height: 80vh;
}
@media screen and (width <= 1000px) {
    .EnterProduct-Form {
        width: 100%;
    }
}
