.form-container{
    display: flex;
}
.EnterProduct-Form {
    padding: 50px 25px 0 25px;
    width: 70%;
}
@media screen and (width <= 1000px) {
    form {
        width: 100%;
    }
    .GIFS{
        display: none;
    }
}
.GIFS{
    margin: 50px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.GIFS > img{
    object-fit: cover;
    display: block;
    margin: 50px auto;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 50/50;
}
